@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-slide-in-left {
  position: relative;
  animation: animateleft 1s;
}
@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.badge {
  position: absolute;
  right: -20px;
  top: 10px;
  background: skyblue;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: white;
  padding: 5px 10px;
  font-size: 20px;
}
