:root {
  --blue-color: #4a90e2; /* Medium blue */
}

.carousel-container {
  padding: 40px 0;
}

.carousel-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.slick-slide {
  transition: all 0.3s ease;
}

.slick-current {
  transform: scale(1.1);
  z-index: 1;
}

.slick-slide:not(.slick-current) {
  transform: scale(0.8) translateX(5%);
  opacity: 0.7;
}

.slick-slide:not(.slick-current) + .slick-slide:not(.slick-current) {
  transform: scale(0.8) translateX(-5%);
}

.card-wrapper {
  transition: all 0.3s ease;
  margin: 0 auto;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slick-current .card-wrapper {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.card-info {
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.slick-current .card-info {
  opacity: 1;
}

.light .slick-prev:before,
.light .slick-next:before {
  color: var(--blue-color);
}

.dark .slick-prev:before,
.dark .slick-next:before {
  color: var(--blue-color);
}
